body{
  background-color: #fafafa!important;
}
.container {
  width: 100%;
}
.mynavbar {
  width: 100%;
  height: 50px;
  border-radius: 0px !important;
}
.navbar-brand {
  padding-top: 3px !important;
}
.navbar-brand img {
  display: block;
  margin-top: 0px;
  width: 40px;
}
.navbar-nav {
  float: right;
}
article{
  margin-top: 50px;
}
.article-info{
  margin-bottom: 10px;
}
.article-info .author{
  cursor: pointer;
  color:darkorange
}
.article-info .date{
  cursor: pointer;
  color:darkslategray;
}
.form-control {
  width: 90%!important;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
}
.container{
  margin-top: 70px;
  margin-bottom: 20px;
  border:1px solid #666;
  box-shadow: 2px 2px 8px 5px #eee;
  border-radius: 5px;
  background-color: white;
}
hr{
  border-top: 1px dotted #000!important;
}
.review{
  /* background-color: pink; */
  padding-bottom: 20px;
  margin-top: 10px;
}
.review p{
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight:bold;
}
.undo{
  margin-bottom:30px;
}
.undo h4{
  font-size: 14px;
  color:lightcoral;
  font-weight: bold;
}
.comment-list{
  margin-bottom:-10px;
}